

@{
    ViewData["Title"] = "Home";
}


    <style>
        #hColor{
        background-color: #AD8900;
            color:white;
        }


        #about::before { 
    background: none; 
}
    </style>
  <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container-fluid p-0 m-0 text-center text-md-left">
        <!-- <h1>Welcome to [Site Name]</h1>
      <h2>We are team of talented designers making Decorations and Apartments Finishing</h2>
      <a href="#features" class="btn-get-started scrollto">Get Started</a> -->

        <div id="background">
          <div id="blank"></div>

          <label
            ><input type="radio" name="photo" checked />
            <div
              class="outer"
              style="
                background-image: url(https://images.unsplash.com/photo-1620503374956-c942862f0372?&q=100&dpr=2&w=400);
              "
            >
              <div class="inner">
                <p class="herop1" >مع</p>
                <p class="herop2">Tashtip</p>
              </div>
            </div>
          </label>
          <label
            ><input type="radio" name="photo" />
            <div
              class="outer"
              style="
                background-image: url(https://images.unsplash.com/photo-1543848089-530aad06491a?&q=100&dpr=2&w=400);
              "
            >
              <div class="inner">
                <p class="herop">ثقة</p>
                <p class="herop">ثقة</p>
              </div>
            </div>
          </label>
          <label
            ><input type="radio" name="photo" />
            <div
              class="outer"
              style="
                background-image: url(https://images.unsplash.com/photo-1550684848-fac1c5b4e853?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTQxODQ2NDZ8&ixlib=rb-4.0.3&q=100&dpr=2&w=400);
              "
            >
              <div class="inner text3">
                <p class="herop">تميز</p>
                <p class="herop">تميز</p>
              </div>
            </div>
          </label>

          <div id="border"></div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>خدماتنا</h2>
            <p>
              سواء كنت تبحث عن تحديث بسيط لمنزلك أو تحويل كامل، نحن نقدم حلاً
              مخصصاً يناسب ذوقك الفريد واحتياجاتك
            </p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
              data-aos="fade-up"
            >
              <div class="icon-box icon-box-pink ms-auto">
                <div class="icon mb-2">
                  <img src="~/LayoutTASHTIP/Images/Plans/Basic.png" />
                </div>
                <h4 class="title"><a href="">لوكس</a></h4>
                <p class="description text-start">
                  - تصميم داخلي أنيق وأنيق. <br />
                  - استخدام مواد عالية الجودة. <br />
                  - مساحة تخزين إضافية. <br />
                  - تكنولوجيا منزلية حديثة. <br />
                  - خيارات متعددة للألوان والأثاث.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon-box icon-box-cyan ms-auto">
                <div class="icon mb-2">
                  <img src="~/LayoutTASHTIP/Images/Plans/standard.png" />
                </div>
                <h4 class="title"><a href="">سوبر لوكس</a></h4>
                <p class="description text-start">
                  - تخصيص كامل للديكور الداخلي. <br />
                  - أجهزة منزلية عالية الجودة. <br />
                  - نظام أمان متطور. <br />
                  - إضافة عناصر فاخرة مثل حمام سباحة خاص أو حديقة
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon-box icon-box-green ms-auto">
                <div class="icon mb-2">
                  <img src="~/LayoutTASHTIP/Images/Plans/Premium.png" />
                </div>
                <h4 class="title"><a href="">الترا سوبر لوكس</a></h4>
                <p class="description text-start">
                  - التصميم المعماري الفريد. <br />
                  - استخدام مواد فاخرة ونادرة. <br />
                  - أنظمة تحكم ذكية في المنزل. <br />
                  - مساحات واسعة ومفتوحة. <br />
                  - خدمات حصرية مثل خدمة تدبير المنزل
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box icon-box-blue ms-auto">
                <div class="icon">
                  <i style="color: #06a0a1" class="bx bxl-dribbble"></i>
                </div>
                <h4 class="title"><a href="">الخيارات الإضافية</a></h4>
                <p class="description text-start">
                  - تخصيص إضافي للديكور. <br />
                  - توفير خيارات متعددة للأثاث والألوان. <br />
                  - خدمات تركيب وصيانة ما بعد البيع. <br />
                  - التفرد في التصميم والأفكار الإبداعية.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="100"
            >
              <img
                src="~/LayoutTASHTIP/Images/clients/client-1.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="200"
            >
              <img
                src="~/LayoutTASHTIP/Images/clients/client-2.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="300"
            >
              <img
                src="~/LayoutTASHTIP/Images/clients/client-3.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="400"
            >
              <img
                src="~/LayoutTASHTIP/Images/clients/client-4.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="500"
            >
              <img src="~/LayoutTASHTIP/Images/clients/client-5.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
              data-aos="flip-up"
              data-aos-duration="500"
              data-aos-delay="600"
            >
              <img
                src="~/LayoutTASHTIP/Images/clients/client-6.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>معرض أعمالنا</h2>
            <p>
              مرحبًا في معرض أعمالنا الاستثنائي! نحن نفخر بتقديم أعمال تشطيب
              وتجهيز ديكورات الشقق السكنية بأعلى مستوى من الجودة والتميز. مجموعة
              متنوعة من الخطط التي نقدمها، لوكس، سوبر لوكس، والترا سوبر لوكس،
              بالإضافة إلى الخيارات الإضافية المخصصة التي تمكنك من تحقيق رؤية
              منزل أحلامك.
            </p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-reception">Reception</li>
                <li data-filter=".filter-living">Living</li>
                <li data-filter=".filter-rooms">Rooms</li>
                <li data-filter=".filter-master">Master</li>
                <li data-filter=".filter-dressing">Dressing</li>
                <li data-filter=".filter-toilet">Toilet</li>
                <li data-filter=".filter-kitchen">Kitchen</li>
                <li data-filter=".filter-terrace">Terrace</li>
              </ul>
            </div>
          </div>
          
          <!--partial-->
            <partial name="_PartialSectionProjectFinish" />
          <!--end partial-->
        </div>
      </section>
      <!-- End Portfolio Section -->

      @*<!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2><b>فريق الخبراء في تشطيب</b></h2>
            <p>
              في تشطيب، نفخر بأن لدينا فريق متخصص من الخبراء الذين يمتلكون
              الخبرة والمهارات اللازمة لتحويل رؤيتك إلى واقع. تعرّف على فريقنا
              المميز الذي سيعمل معك خطوة بخطوة لضمان تحقيق أهدافك بأفضل شكل
              ممكن:
            </p>
          </div>

          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <img
                  src="~/LayoutTASHTIP/Images/team/team-1.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>ENG AMR MOSTAFA</h4>
                    <span>Chief Executive Officer</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="member">
                <img
                  src="~/LayoutTASHTIP/Images/team/team-2.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>ENG HABIL</h4>
                    <span>Product Manager</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="member">
                <img
                  src="~/LayoutTASHTIP/Images/team/team-3.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>ENG AMR MOSTAFA</h4>
                    <span>CTO</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="member">
                <img
                  src="~/LayoutTASHTIP/Images/team/team-4.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>ENG HABIL</h4>
                    <span>Accountant</span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->*@

      <!-- About Section -->
       <section id="about">
      <div class="container" data-aos="fade-up">

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/3.png" alt="" class="img-fluid">
                <div class="icon"><ion-icon name="eye-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">معاينة لوحدتك</a></h2>
              <p>
                نقوم بتحديد موعد للمعاينة والمقايسة لوحدتك السكنية او التجارية للتأكد من جميع التفاصيل قبل التعاقد.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/2.png"  class="img-fluid">
                <div class="icon"><ion-icon name="bulb-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">الابداع في التصميم</a></h2>
              <p>
                نقوم في تشطيب للديكور والتشطيبات بتنفيذ احدث الديكورات في التصميم التي تلائم متطلباتك وذوقك الفريد.​
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/5.png" alt="" class="img-fluid">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">أقل تكلفة لتشطيب وحدتك​</a></h2>
              <p>
                باقل تكلفة نعطي افضل جودة مع تقديم افضل سعر لمتر التشطيب للشقق و الفلل والمكاتب والشركات.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/1.png" alt="" class="img-fluid">
                <div class="icon"><ion-icon name="hammer-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">دقة في التنفيذ والاشراف</a></h2>
              <p>
                نهتم بجميع التفاصيل ولذلك نقوم بالاستعانة بـافضل مهندسين ديكور وافصل 'صنايعية' لتنفيذ المطلوب باعلى جودة
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/4.png" alt="" class="img-fluid">
                <div class="icon"><ion-icon name="time-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">نلتزم بالمواعيد​</a></h2>
              <p>
                الالتزام في المواعيد المتفق عليها من اهم ما يميز شركة تشطيب مع اعلى جوده وافضل خامات فنحن نعلم مسئولياتك و نحترمها.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="~/layouttashtip/images/ab/6.png" alt="" class="img-fluid">
                <div class="icon"><ion-icon name="shield-checkmark-outline"></ion-icon></div>
              </div>
              <h2 class="title"><a href="#">ضمان على التشطيب​</a></h2>
              <p>
                شركة تشطيب تضمن لك جميع اعمال الديكورات والتشطيبات للوحدات السكنية والتجارية لفترة تصل لـ4 سنوات  
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">
          <div class="section-title">
            <h2><b>تفاصيل باقات التشطيب</b></h2>
            <p>
              في تشطيب، نحن ندرك أن كل مشروع تشطيب يختلف، وهناك دائمًا خيار
              يناسب ميزانيتك واحتياجاتك الفريدة. لهذا السبب، نقدم أربع خطط أسعار
              مختلفة لضمان أن تجد الخيار المثالي الذي يناسبك. إليك نظرة عامة على
              خطط الأسعار لدينا:
            </p>
          </div>

          <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="box pricing-shadow">
                <h3>الباقة الاقصتادية</h3>
                <h4><sup>E£</sup>3,000<span> / Unit</span></h4>
                <ul>
                            <li>الكهرباء &سلك سويدي من أجود الخامات. &علب ماجيك. &مفاتيح وبرايز فينوس بالضمان. &لوحة رئيسية 16 خط. &دائرة تليفزيون ريسبشن فقط. &دائرة ستالايت. &دائرة إنترنت. &تأسيس تكيفات الريسبشن فقط. &دفيتير في الطرقة.</li>
                            <hr/>
                            <li>  صرف صحي .& الصرف كاسيل ألماني. .& التغذية BR ضمان 10 سنوات. .& عزل الحمام على البارد. .& تأسيس لكابينة شاور.</li>
                            <hr />
                            <li>الدهانات .& وش سيلر مائي. .& 2 سكينه معجون. .& بطانة. .& تلقيطة. .& وش نهائي دهانات GLC.</li>
                            <hr />
                            <li> السيراميك & كليوباترا أو ما يوازيه فرز أول حوائط وأرضيات. & الغرف كلها سيراميك على ألا يتعدى سعر المتر 100 جنيها. & سيراميك المطبخ والحمامات لا يتعدى سعر المتر 100 جنيهاً.</li>
                            <hr />
                            <li>
                                
                                ألوميتال & لشبابيك المطبخ والحمام فقط قطاع صغير & PS
                            </li>
                            <hr />
                            <li> الأبواب & باب مصفح صيني. & الأبواب الداخلية باب جاهز موسكي قشرة ارو. & دهان الأبواب الداخلية استر.</li>
                </ul>
                <div class="btn-wrap">
                  <a  asp-action="Home" asp-controller="Home" class="btn-buy">اشتر الآن</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="box featured pricing-shadow">
                <h3>الباقة الاساسية</h3>
                <h4><sup>E£</sup>5,000<span> / Unit</span></h4>
                <ul>
                            <li>
                                الكهرباء & سلك سويدي من أجود الخامات. & علب ماجيك. & مفاتيح وبرايز فينوس بالضمان. & لوحة رئيسية 16 خط. & دائرة تليفزيون ريسبشن وغرفة نوم فقط. & دائرة ستالايت. & دائرة إنترنت. & تأسيس تكيفات الريسبشن. & دفيتير طرقة وغرفة نوم رئيسية. & ليد واسبوتات في الجبس بورد ريسبشن وطرقة فقط. & كبل HD ريسبشن وغرفة واحدة
                            </li>
                            <hr/>
                            <li> صرف صحي & الصرف كاسيل ألماني. & التغذية BR ضمان 10 سنوات. & عزل الحمام سيكا 105. & تأسيس كابينة شاور.</li>
                            <hr/>
                            <li> الدهانات & وش سيلر مائي. & 3 سكينه معجون. & بطانة. & تلقيطة. & 2 وش نهائي دهانات سايبس.</li>
                            <hr />
                            <li> السيراميك & الريسبشن والممرات والغرف سيراميك قطع ليزر 60*60 على ألا يتعدى سعر المتر 180ج. & الغرف وحوائط المطبخ والحمام سيراميك فرز أول على ألا يتعدى سعر المتر 140ج.</li>
                            <hr />
                            <li> ألوميتال & لشبابيك المطبخ والحمام فقط قطاع صغير PS &</li>
                            <hr />
                            <li> الديكورات يشمل جانب ديكور للريسبشن ورق حائط أو بديل الرخام والخشب أو دهان ديكور</li>
                            <hr />
                            <li>
                                الأبواب & باب مصفح تركى. & الأبواب الداخلية باب جاهز موسكي فرز أول بقشرة ارو. & دهان الأبواب الداخلية استر.
                            </li>
                <div class="btn-wrap">
                  <a  asp-action="Home" asp-controller="Home" class="btn-buy">اشتر الآن</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="box pricing-shadow">
                <h3 id="hColor">باقة VIP</h3>
                <h4><sup>E£</sup>8,500<span> / Unit</span></h4>
                <ul>
                            <li> الكهرباء & سلك سويدي من أجود الخامات. & علب ماجيك. & مفاتيح وبرايز فينوس بالضمان. & لوحة رئيسية 18 خط. & دائرة تليفزيون. & دائرة ستالايت. & دائرة إنترنت. & تأسيس تكيفات. & دفيتير طرقة ونوم. & ليد واسبوتات. & كبل HD & تأسيس خراطيم الساوند سيستيم.</li>
                            <hr/>
                            <li> صرف صحي & الصرف كاسيل ألماني. & التغذية BR ضمان 10 سنوات. & عزل الحمام سيكا 107. & كابينة شاور. & عمل لياسة أسمنتية. & قاعدة دفن.</li>
                            <hr />
                            <li> الدهانات & وش سيلر مائي. & 3 سكينه معجون. & بطانة. & تلقيطة. & 2 وش دهان نهائي جوتين أو نيبون رقم في آسيا الوش الأخير قابل للغسيل.</li>
                            <hr />
                            <li> الأسقف & جبس بورد إجمالي مساحة الشقة. & جبس برود أبيض للريسيبشن والغرف. & جبس بورد أحمر للمطبخ. & جبس بورد أخضر للحمام.</li>
                            <hr />
                            <li> السيراميك & الريسبشن والممرات بورسلين مستورد على ألا يتعدى سعر المتر280 ج. & أرضيات الغرف سيراميك شرائح الباركيه كليوباترا لا يتعدى سعر المتر110ج. & حوائط المطبخ والحمام فرز أول لا يتعدى سعر المتر 110. & المعابر رخام.</li>
                            <hr />
                            <li> ألوميتال & لشبابيك المطبخ والحمام فقط قطاع صغير PS</li>
                            <hr />
                            <li> الديكورات & يشمل جانب تجاليد خشب Super Marbel & يشمل جانب واحد في الرسيبشن من الحجر او بديل الرخام والخشب أو دهان ديكور أو ورق حائط. & ورق حائط لغرف الأطفال 3D. & ورق حائط لغرفه المستر والمعيشة. & خشب CNC بحد أقصى 5 متر طولي. & الديكورات النهائية حسب اختيار العميل يتم الاتفاق عليها في الفنش النهائي.</li>
                            <hr />
                            <li> الأبواب & باب مصفح تركى. & الأبواب الداخلية باب جاهز موسكي فرز أول بقشرة ارو. & دهان الأبواب الداخلية استر</li>
                </ul>
                <div class="btn-wrap">
                  <a  asp-action="Home" asp-controller="Home" class="btn-buy">اشتر الآن</a>
                </div>
              </div>
            </div>

           @* <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="box pricing-shadow">
                <span class="advanced">Ultra</span>
                <h3>EXTRAS</h3>
                <h4><sup>E£</sup>100,000<span> / Unit</span></h4>
                <ul>
                  <li>Feature #1</li>
                  <li>Feature #2</li>
                  <li>Feature #3 Super</li>
                  <li>Feature #4 Super</li>
                  <li>Feature #5 Ultra</li>
                </ul>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">اشتر الآن</a>
                </div>
              </div>
            </div>*@
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2><b>F.A.Q</b></h2>
            <p>
              مرحبًا في قسم الأسئلة الشائعة! نعلم أن عند البدء في مشروع تحويل
              منزلك أو شقتك، قد تكون لديك العديد من الأسئلة. هذا القسم هو مورد
              مفيد تم تصميمه خصيصًا لمساعدتك في فهم خدماتنا بشكل أفضل والعثور
              على الإجابات على أسئلتك الشائعة.
            </p>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                  >ما هي الاختلافات بين الخطط المختلفة التي تقدمونها؟
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    نحن نقدم خطط متعددة لتلبية احتياجات عملائنا المتنوعة. خطة
                    لوكس تركز على التصميم الأنيق واستخدام مواد عالية الجودة. خطة
                    سوبر لوكس توفر تشطيبات دقيقة ومواد فاخرة، بينما تقدم خطة
                    الترا سوبر لوكس التفاصيل والتخصيص بشكل استثنائي.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2"
                  class="collapsed"
                  >هل يمكنني تخصيص التصميم الداخلي واختيار ألواني وأثاثي الخاص؟
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-2"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    نعم، يمكنك تخصيص التصميم الداخلي واختيار ألوانك وأثاثك. نحن
                    نعمل عن كثب مع العملاء لضمان تلبية توقعاتهم وتحويل أفكارهم
                    إلى واقع ملموس.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3"
                  class="collapsed"
                  >ما هي الخدمات الإضافية التي يمكن أن توفرها؟
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-3"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    نقدم العديد من الخدمات الإضافية مثل تركيب وصيانة ما بعد
                    البيع. يمكننا أيضًا توفير خيارات مخصصة مثل إضافة حمام سباحة
                    خاص أو نظام تحكم ذكي في المنزل.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-4"
                  class="collapsed"
                  >هل لديكم تجربة في تصميم الشقق الصغيرة؟
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-4"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    نعم، لدينا خبرة في تصميم الشقق الصغيرة وتحويلها إلى مساحات
                    وظيفية وجذابة. نحن نستخدم استراتيجيات تصميم مبتكرة للاستفادة
                    القصوى من المساحة المحدودة.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-5"
                  class="collapsed"
                  >كيف يمكنني البدء في مشروع تجهيز منزلي؟
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-5"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    لبدء مشروع تجهيز منزلك، يرجى الاتصال بنا عبر الهاتف أو
                    البريد الإلكتروني لترتيب اجتماع استشاري مجاني. سنقوم بفهم
                    احتياجاتك وتقديم توجيه واقتراحات لبدء المشروع.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End F.A.Q Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2><b>تواصل معنا</b></h2>
            <p>
              في تشطيب، نحن دائمًا هنا للإجابة على استفساراتك وتلبية احتياجاتك.
              إذا كان لديك أي أسئلة أو ترغب في البدء في مشروع تشطيب منزلك، فلا
              تتردد في الاتصال بنا. نحن مستعدون لمساعدتك في تحويل أفكارك إلى
              واقع، ونحن نهدف دائمًا لتقديم أفضل
            </p>
          </div>

          <div class="row no-gutters justify-content-center" data-aos="fade-up">
            <div class="col-lg-3 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>الموقع:</h4>
                  <p>
                      الاكاديمية الحديثة
                  </p>
                </div>

                <div class="email mt-4">
                  <i class="bi bi-envelope"></i>
                  <h4>البريد الالكتروني:</h4>
                  <p>www.Tashtip.com</p>
                </div>

                <div class="phone mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>موبايل:</h4>
                  <p>19049</p>
                </div>
              </div>
            </div>

            <div class="col-lg-7 d-flex align-items-stretch">
              <iframe
                style="border: 0; width: 100%; height: 300px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d218360.43102826248!2d29.79007430944076!3d31.224005770632242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c49126710fd3%3A0xb4e0cda629ee6bb9!2sAlexandria%2C%20Alexandria%20Governorate!5e0!3m2!1sen!2seg!4v1697141512014!5m2!1sen!2seg"
                frameborder="0"
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="col-lg-10">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="اسمك"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      style="text-align: right"
                      placeholder="بريدك الالكتروني"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="الموضوع"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="رسالتك"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-7">
                    <div class="footer-info">
                        <h3>Company Name</h3>
                        <p>
                            الاكاديميه الحديثة <br />
                            <strong>موبايل:19049</strong><br />
                            <strong>بريد إلكتروني:</strong> www.Tashtip.com<br />
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="instagram">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="#" class="linkedin">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-7 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="index.html#hero">الرئيسية</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="index.html#services">خدماتنا</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="index.html#portfolio">معرض الأعمال</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="index.html#team">فريقنا</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="index.html#contact">تواصل معنا</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="terms of use.html">اتفاقية الاستخدام</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-7 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Web Development</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Product Management</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                        </li>
                        <li>
                            <i class="bx bx-chevron-right"></i>
                            <a href="#">Graphic Design</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- wave effect -->
        <section class="ssection">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
        <!-- wave effect -->
    </div>

    <div class="container">
        <div class="copyright">
            &copy;  @DateTime.Now.Year - <strong><span> Industrial Integration Solutions Sysytem (IISS)  </span></strong>. All Rights Reserved
        </div>
        @*<div class="credits">
        Designed & Developed by
        <a href="https://www.facebook.com/adham.kaseb.54/">Adham Kaseb⚡</a>
        </div>*@
    </div>
</footer>
<!-- End Footer -->

    <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/hero.js"></script>
  <script src="assets/js/search.js"></script>