@{
    ViewData["Title"] = "aBooking Your Apartment";
}

<style>
    /*  --  validation jquery  --  */
    input.my-error-class, select.my-error-class, textarea.my-error-class {
        border-bottom-color: #FF0000 !important; /* red */
        border-bottom-width: 2px !important;
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    input.my-valid-class, select.my-valid-class, textarea.my-valid-class {
        border-bottom-color: #00CC00 !important; /* green */
        border-bottom-width: 2px !important;
        border-bottom-left-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }

    .margin-top {
        margin-top: 120px;
    }

    .margin-bottom {
        margin-top: 30px;
    }

    .dropdown .icon {
        visibility: hidden;
    }
</style>




<div class="container margin-top">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 me-auto rounded-4 shadow-lg px-5 py-3">
                    <div class="portfolio-description">
                        <h2>اتفاقية الاستخدام</h2>
                        <p>
                            مرحبًا بك في موقع [Tashtip]. يُرجى قراءة هذه الاتفاقية بعناية قبل استخدام موقعنا. من خلال استخدام موقعنا، فإنك توافق على الالتزام بشروط هذه الاتفاقية وجميع السياسات والقوانين المعمول بها. إذا لم توافق على هذه الشروط، يُرجى عدم استخدام الموقع. <br><br>

                            <h3>1. خدماتنا</h3>
                            نحن نقدم مجموعة من الخدمات المتعلقة بتجديد وتجهيز الشقق السكنية من الداخل. تتضمن هذه الخدمات مجموعة متنوعة من الخطط التي تلبي احتياجات عملائنا المتنوعة، بما في ذلك الخطط لوكس، سوبر لوكس، والترا سوبر لوكس، بالإضافة إلى الخيارات المخصصة.  <br><br>

                            <h3>2. استخدام الموقع </h3>
                            2.1. أنت مسؤول عن الحفاظ على سرية معلومات الدخول الخاصة بك وضمان أمانها. <br><br>

                            2.2. يجب عليك عدم استخدام الموقع بأي طريقة تنتهك حقوق الملكية الفكرية أو تنتهك حقوق الآخرين.  <br><br>

                            2.3. نحن نحتفظ بالحق في تغيير أو إيقاف أي جزء من الموقع أو الخدمات في أي وقت دون إشعار مسبق.  <br><br>

                            <h3>3. السرية والخصوصية</h3>
                            3.1. نحن ملتزمون بالمحافظة على سرية المعلومات الشخصية لعملائنا ونطبق إجراءات أمان قوية.  <br><br>

                            3.2. يُفضل قراءة اتفاقية الاستخدام الخاصة بنا لمزيد من المعلومات حول جمع واستخدام المعلومات.  <br><br>

                            <h3>4. الضمان والمسؤولية</h3>
                            4.1. نحن نسعى لتقديم خدمات عالية الجودة، ولكننا لا نقدم أي ضمانات صريحة أو ضمانات بخصوص دقة أو توافر الخدمات.  <br><br>

                            4.2. نحن لسنا مسؤولين عن أي خسائر أو أضرار تنشأ عن استخدام الموقع أو الخدمات.  <br><br>

                            <h3>5. تغييرات في الاتفاقية </h3>
                            5.1. نحتفظ بالحق في تعديل هذه الاتفاقية في أي وقت. يُشجع عليك بشدة على مراجعة هذه الصفحة بانتظام لمراجعة التحديثات.  <br><br>

                            <h3>6. اتصل بنا</h3>
                            إذا كان لديك أي أسئلة أو استفسارات بخصوص هذه الاتفاقية، يمكنك التواصل معنا عبر البريد الإلكتروني [البريد الإلكتروني] أو عبر الهاتف [رقم الهاتف].
                        </p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </section><!-- End property Details Section -->
    </div>
 